@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner style */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 50px;
    min-height: 600px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay ;
    }
    .banner-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       height: 600px;
    }
    .banner-description p, h1{
        color: #FFFFFF;
    }
    .banner-description h1{
        font-size: 72px;
        font-weight: 900;
    }
    .banner-description p{
        font-size: 32px;
        font-weight: 400;
        
    }
    /* 65% section styles */
    .second-section{
       height: 806px;
        width: 802.9px;
        
        margin: 0 auto;
        margin-top: 90px;
        
    }
    .section-discription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
 .section-discription h1{
    color: #FF0000;
    font-family: Inter;
    font-size: 88px ;
    font-weight: 700px;

}
.h1-div{
    margin-bottom: 48px;
}
 .section-discription p{
    color: #FF0000;
    font-family: Inter;
    font-size: 24px ;
    font-weight: 500px;
    

}
 .section-discription h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px ;
    font-weight: 700px;

}
.new-year-container{
    height: 500px;
    width: 802.9px;
    margin-top: 48px;
    
}
.new-year-container img{
    height: 100%;
    width: 100%;
}
 /* midnight-party-container styles */
 .midnight-party-container{
    height: 600px ;
    width:1320px ;
    margin: 0 auto;
    
    display: flex;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
 }
 .leftside-content{
    width: 50%;
    height: 600px;
    
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px; 
        margin-left: 126px;  
 }
 .leftside-content h2{
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
 }
 .leftside-content p{
    
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400px;
    margin-left: 30px;
 }
 .h2-mid{
    margin-bottom: 24px;
 }
 #midnight-button{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    margin-right: 360px;
    
 }
 .rightside-content{
    width: 50%;
    height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .rightside-content img{
    height: 464.66px;
    width: 319.83px;

 }